
.elementoCarPrincipal {
    height: 100vh;
  }
  
  
  .carousel-caption h5{
    backdrop-filter: blur(8px) !important;
    border-radius: 10px;
    color: white !important;
  }
  #carouselExampleDark {
    
    position: relative;
    width: 100%;
    overflow: hidden;
  } 
  .carousel-dark .carousel-indicators [data-bs-target] {
      background-color: white;
  }
  
  .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
      filter: invert(0%) !important;
  }
  
  
  
  