
@import url('colores.css');
@import url('nav.css');
@import url('carruselInicio.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.container{
  margin-top: 5%;
  margin-bottom: 5%;
}

h2{
  color: var(--dorado);
}