
@import url('colores.css');
@import url('nav.css');
@import url('carruselInicio.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

#carouselExampleIndicators{
  position: relative;
    width: 100%;
    overflow: hidden;
}