
@import url('colores.css');
@import url('nav.css');
@import url('carruselInicio.css');
@import url('footer.css');
@import url('regalo.css');
@import url('interes.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  
}
p{text-align: justify;}
.container{
  margin-top: 5%;
}

h2{
  color: var(--dorado);
  font-weight: bold;
}

.carruselHabitaciones{
  height: 20rem;
}
a{
  text-decoration: none;
  color: var(--azulOscuro)
}
a:hover{
  color: var(--dorado) !important;
}

.seccion{padding: 1%;}