footer{
    background-color: var(--azulOscuro);
    color: white ;
    text-align: justify;
    

}
.footer-item a{
    color: white ; 
}
 
.enlaceFondoOscuro {
    color: var(--crema) !important;
}
.NavFooter .container .row{
    padding-top: 2%;
}
i{margin: 1%;}


#logoFooter{
    width: 80%;
}