
  .cardRegalo:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  box-shadow: 0px 10px 15px var(--crema) /* Sombreado */
  }
  .cardRegalo .btn{
    background-color: var(--grisAzulado);
    color:white;
  }
  .cardRegalo .btn:hover{
    background-color: var(--dorado);
    color:white;
  }
  .card-body{
   height: 15rem;
  }
